<!DOCTYPE html>
<html>
<head>
    <title>Book an Appointment</title>
</head>
<body>
    <h1>Book an Appointment</h1>
    <form method="POST" action="{{ url_for('book_appointment_route', doctor_id=doctor[0]) }}">
        <label for="name">Patient Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="time">Appointment Time:</label>
        <select name="time" id="time" required>
            <option value="" disabled selected>Select appointment time</option>
            <option value="10:00">10:00 AM</option>
            <option value="11:00">11:00 AM</option>
            <option value="12:00">12:00 PM</option>
            <option value="13:00">01:00 PM</option>
            <option value="14:00">02:00 PM</option>
            <option value="15:00">03:00 PM</option>
            <option value="16:00">04:00 PM</option>
            <option value="17:00">05:00 PM</option>
        </select>
        <input type="submit" value="Book">
    </form>
</body>
</html>
