body {
    background-image: url("/static/assets/css/webb.png");
    background-repeat: no-repeat;
    background-size: cover;
  }



.rectangle {
    width: 1700px;
    height: 50px;
    background-image: url("/static/assets/css/hbar2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:40px;
  }



  .image{
    width: 200px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-top: -120px; 
    margin-left:85px;
  }
 
.home:hover{
    color:rgb(155, 224, 235);

}

.appointment:hover{
    color:rgb(155, 224, 235);
} 

.bank:hover{
    color:rgb(155, 224, 235);
}
.about:hover{
    color:rgb(155, 224, 235);
}

.home{
    text-decoration: none;
    list-style: none;
    margin-left:300px;
    position: relative;
    top: -117px;
    color:white;
}

.appointment{
    text-decoration: none;
    list-style: none;
    margin-left:390px;
    position: relative;
    top: -135px;
    color:white;
}

.bank{
    text-decoration: none;
    list-style: none;
    margin-left:540px;
    position: relative;
    top: -153px;
    color:white;
}

.about{
    text-decoration: none;
    list-style: none;
    margin-left:680px;
    position: relative;
    top: -172px;
    color:white;
}
  
  