body {
    font-family: Arial, sans-serif;
    background-image: url('ambuser.png');
    background-size: cover;
    background-position: center;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .form-container {
    width: 500px;
    margin: 150px 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group select {
    height: 35px;
  }
  
  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }