body {
    background-image: url("/static/assets/css/nearhosp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center center;
    background-attachment: fixed;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 150px 200px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
   }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }