
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    color: #880e0e;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333333;
    color: #be0c0c;
    padding: 20px;
    text-align: center;
  }
  