
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #71D1EA;
  color: #E23024;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #71D1EA;
  color: #812424;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #71D1EA;
  color: #812424;
  padding: 20px;
  text-align: center;
}
